database:
	dsn: "sqlite::memory:"

services:
	- Lovec\DbChangelog\Tests\DatabaseLoader

extensions:
	changelog: Lovec\DbChangelog\DI\ChangelogExtension
	- Kdyby\Events\DI\EventsExtension

changelog:
	dir: %tempDir%/changelog
